*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flex{
	display: flex;
}
header{
	height: 135px;
	align-items: center;
}
.inscreva{
	text-transform: uppercase;
	padding: 10px 18px;
	border: 1px solid #1111114D;
	border-radius: 4px;
	color: #111111;
	font-size: 14px;
	font-family: 'Space Grotesk', sans-serif;
}
a{
	text-decoration: none;
}
header img {
	margin-top: -20px;
	width: 90px;
	display: inline;
	position: absolute;
}
header ul{
	justify-content: space-around;
	font-family: Lato, Medium;
	font-size: 16px;
	color: #333333;
}
footer{
	position: relative;
	align-items: center;
	margin-top: 240px;
}
.logoF img {
	width: 9vw;
}
footer ul{
	justify-content: space-between;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
	color: #333333;
	font-weight: 100
}
.poligno {
	background-image: url(img/Polygon2.png);
	width: 203px;
	height: 160px;
	background-repeat: no-repeat;
	margin-left: -95px;
	margin-top: -80px;
}
#cop{
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	color: #33333380;
	font-size: 16px;
}
#inf{
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	color: #333333;
	font-size: 16px;
}
footer ul a {
	color: #333333;
	font-weight: 400;
}
.col.s1.imgfooter{
	background-image: url("img/Combined Shape.png");
	width: 50px;
	height: 65px;
	background-repeat: no-repeat;
}
.borda {
	border-top: 1px solid;
	color: #33333380;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 25px;
	margin-top: 15px;
}
.termo {
	text-align: right;
}
.oval {
	position: absolute;
	width: 190px;
	height: 190px;
	background-color: #900900a1;
	border-radius: 50%;
	top: 15px;
	right: -32px;
	z-index: -1;
}
.relative{
	position: relative;
}
#evento .flex{
	justify-content: space-between;
}
#evento span{
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 300;
	color: #7F1315;
	font-size: 19px;
	margin-left: 6px;
}	
#evento h2{
	font-weight: 400;
	color: #333333;
	font-size: 72px;
	letter-spacing: -2px;
}
.inscreva2 {
	background-color: #7F1315;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 5px;
}
#evento p{
	margin-bottom: 30px;
}
#video{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.marginO img{
	width: 100%;
}
#play {
	position: absolute;
}

.borda1 {
	margin-top: 100px;
	border-top: 2px solid black;
	width: 100%;
}
#roundimgs span {
	margin-top: 15px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	color: #333333;
	position: absolute;
	font-weight: 400;
}
#roundimgs #sp2 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
	color: #33333380;
	margin-top: 50px;
}
#roundimgs{
	margin-top: 25px;
}
#roundimgs img{
	margin-right: 10px;
}
.bgblack{
	background-color: black;
	z-index: -99999;
	width: 100%;
}
.polygon2{
	background-image: url(img/Polygon.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	height:	160px;
	width: 133px; 
}
.bgblack #titulo{
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	color: #7F1315;
	font-size: 19px;
}
.bgblack h2{
	letter-spacing: var(--unnamed-character-spacing--1);
	font-size: 46px;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	color: white;
}
.bgblack .content{
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 20px;

}
.inscreva3 {
	font-family: 'Space Grotesk', sans-serif;
	border: 1px solid #FFFFFF4B;
	font-weight: 300;
	padding: 10px 18px;
	color: white;
	font-size: 14px;
	border-radius: 4px;
}
.sobre{
	margin-top: 140px;
}
.margininsc {
	margin-top: 100px;
	margin-bottom: 100px;
}
.content2 {
	margin-top: 20px;
	border-bottom: 2px solid white;
	width: 300px;
}
.bitmap{
	position: relative;
}
.img1, .img2{
	position: absolute;
}
.img2 img{
	width: 334px;
	height: 260px;
}
.bitmap .img1 {
	margin-left: -35px;
	z-index: 9999;
	margin-top: 100px;
}
.bitmap .img2 {
	margin-top: 412px;
	margin-left: 165px;
	z-index: 57;
}
.bitmap .img1 img {
	height: 340px;
}
.bitmap .img2 img{
	border-radius: 20px;
}
.polygon3 {
	background-image: url(img/Polygon3.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 85px;
	width: 80px;
	margin-left: 370px;
	margin-top: 140px;
}
.cshape {
	background-image: url(img/CombinedShape2.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 120px;
	width: 140px;
	margin-top: 100px;
	margin-left: -200px;
}
.polygon4 {
	background-image: url(img/Polygon4.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 210px;
	width: 140px;
	margin-left: -100px;
	margin-top: -115px;
	z-index: -1;
}
.Aspas{
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: -2px;
	font-weight: 400;
}
.titleG {
	color: #CC1F21;
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: absolute;
	margin-top: 80px;
	margin-left: -26px;
}
.bggray{
	overflow: hidden;
	background-color: #222222;
	/* height: 659px; */
	width: 100%;
	padding-left: 64px;
	/* padding-top: 69px; */
	border-radius: 20px;
	padding-bottom: 56px;
	/* position: relative; */
	padding-right: 67px;
}
.carouselimg {
	/* height: 576px; */
	/* position: absolute; */
	/* margin-top: -47px; */
}
#marginb {
	margin-bottom: 120px!important;
}
/*.container{
	width: 1170px!important;
	}*/
	.carouselimg p {
		margin-top: -147px;
		font-size: 26px;
		color: white;
		font-weight: 400;
		margin-left: 20px;
	}
	.carouselimg  .pts{
		font-size: 18px;
		font-weight: 400;
		color: #FFFFFF80;
	}
	.margind {
		overflow: hidden;
	}
	.margind a{
		margin-left: 55px;
	}
	.btnslider {
		margin-top: 70px;
	}
	.carouselimg img {
		border-radius: 20px 20px 20px 20px;
		width: 100%;
		min-height: 400px;
	}
	.Fgray{
		background-color: #222222;
		height: 480px;
		border-radius: 16px;
	}
	.titleG2 {
		color: #CC1F21;
		font-size: 19px;
		font-weight: 300;
		letter-spacing: 3px;
		text-transform: uppercase;
		margin-top: 100px;
		text-align: center;
	}
	.rec{
		text-align: center;
	}
	.Fgray img{
		margin: 0 auto;
	}
	.marginE{
		margin: 0 auto;
		width: 240px;
	}
	.Fgray p {
		font-size: 24px;
		color: white;
		margin-top: 40px;
		margin-left: 55px;
	}
	.Fgray .hts{
		color: #FFFFFF80;
		font-size: 16px;
	}
	.btnslider2{
		margin-top: 50px;
		text-align: center;
		margin-bottom: 90px;
	}
	.circulo2 {
		width: 2px;
		height: 2px;
		margin: 0px 7px 20px 7px;
		padding: 4px 4px 4px 4px;
		border-radius: 50%;
		display: inline-flex;
		background-color: #707070;
	}
	.active2{
		background-color: #7F1315;
	}
	.btnslider2 img{
		cursor: pointer;
	}
	.btnslider img{
		cursor: pointer;
	}
	.btnslider img{
		padding: 0px 10px 0 4px;
	}
	.circulo {
		width: 2px;
		height: 2px;
		margin: 20px 16px 20px 7px;
		padding: 4px 4px 4px 4px;
		border-radius: 50%;
		float: right;
		display: inline-flex;
		background-color: #707070;
	}
	.Parh2 {
		text-align: center;
		overflow: hidden;

	}
	.Parh2 h2{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 56px;
		color: #333333;
		letter-spacing: -1px;
	}
	.Parh2 p {
		font-size: 20px;
		color: #333333;
		width: 570px;
		margin: 0 auto;
	}
	.parimg {
		overflow: hidden;
		margin-top: 50px;
		text-align: center;
	}
	.parimg.ap{
		margin-top: 35px;
	}
	@media only screen and (min-width: 1200px){
		.container{
			width: 1170px!important;
		}
	}
	.redbg {
		background-color: #7F1315;
		width: 100%;
		/* height: 22vw; */
		border-radius: 8px;
		padding-left: 100px;
		padding-top: 65px;
		/* padding-right: 100px; */
		margin-bottom: 100px;
		overflow: hidden;
		padding-bottom: 65px;
	}
	.redbg p{
		margin-bottom: -8px;
		font-weight: 200;
		font-family: 'Space Grotesk', sans-serif;
		font-size: 20px;
		color: white;
		letter-spacing: -1px;
	}
	.redbg h2{
		font-weight: 200;
		font-family: 'Space Grotesk', sans-serif;
		font-size: 56px;
		color: white;
		padding-bottom: 8px;
	}
	.redbg a{
		font-family: 'Space Grotesk', sans-serif;
		background-color: white;
		color: black;
		padding: 10px 20px 10px 20px;
		border-radius: 4px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
	}
	.bgblack2{
		background-color: black;
		z-index: -99999;
		width: 100%;
	}
	.row.container.marginF {
		margin-bottom: 100px;
	}
	.marginG {
		width: 170px;
		height: 48px;
		margin: 0 auto;
		text-align: center;
		align-items: center;
		margin-top: 90px;
	}
	.bgblack2 .tituloP{
		text-align: center;
		margin-top: 70px;
	}
	.bgblack2 .tituloP span{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 19px;
		color: #EB5A43;
		text-align: center;
		font-weight: 100;
	}
	.bgblack2 .tituloP h2{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 56px;
		overflow: hidden;
		color: #FFFFFF;
		text-align: center;
		letter-spacing: -1px;
	}
	.imgD{
		width: 100%;
		height: 320px;
		overflow: hidden;
	}
	.nomeI img{
		width: 100%;
		border-radius: 8px;
	}
	.nomeI{
		border-radius: 8px;
		width: 100%;
		height: 420px;
		background-color: #222222;
	}
	.nomeI p{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 24px;
		color: #FFFFFF;
		padding-left: 48px;
		margin-top: 25px;
	}
	.marginG a {
		font-size: 14px;
		color: #FFFFFF;
		text-decoration: none;
		font-weight: 100;
		text-transform: uppercase;
		padding: 11px 40px 11px 40px;
		border: 1px solid;
	}
	.bgred{
		width: 100%;
		height: 288px;
		background-color: #7F1315;
		border-radius: 8px;
		position: absolute;
		margin-top: 144px;
	}
	.marginZ{
		height: 288px;
		position: relative;
	}
	.bgred p{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 20px;
		color: white;
		margin-top: 81px;
		margin-left: 100px;
		font-weight: 100;
	}
	.bgred h2{
		font-family: 'Space Grotesk', sans-serif;
		font-size: 56px;
		color: white;
		margin-top: 35px;
		margin-left: 100px;
	}
	.marginW {
		margin-top: 170px;
		margin-left: 49%;
	}
	.marginW a {
		color: black;
		text-decoration: none;
		font-size: 14px;
		background-color: white;
		padding: 9px 18px 9px 18px;
		border-radius: 6px;
	}

	@media only screen and (min-width: 993px)
	{
		.container {
			width: 85%;
		}
	}

	@media only screen and (min-width: 993px) and (max-width: 1199px){
		/*.nomeI {
			border-radius: 8px;
			width: 570px;
			height: 420px;
			background-color: #222222;
			margin: 0 auto;
			margin-top: 30px;
			}*/
			.marginE{
				margin: 0 auto;
				width: 180px;
			}
			.Fgray img {
				margin: 0 auto;
				width: 180px;
			}
			.Fgray p {
				margin-left: 25px;
			}
			.Fgray{
				height: 400px;
			}
		}
		@media only screen and (min-width: 993px) and (max-width: 1199px){
			.bggray {
				background-color: #222222;
				/* height: 659px; */
				width: 120%;
				padding-left: 64px;
				/* padding-top: 69px; */
				border-radius: 20px;
				padding-bottom: 56px;
				/* position: relative; */
				padding-right: 67px;
			}
			.nomeI {
				border-radius: 8px;
				width: 100%;
				height: 290px;
				background-color: #222222;
			}
			.imgD {
				width: 100%;
				height: 190px;
				overflow: hidden;
			}
		}
		@media only screen and (max-width: 992px){
			.bgred h2 {
				font-size: 50px;
			}
			.btnslider{
				display: none;
			}
			.nomeI {
				border-radius: 8px;
				width: 90%;
				height: 420px;
				background-color: #222222;
				margin-top: 50px;
				margin: 50px auto;
			}
			.redbg{
				padding-left: 25px;
			}
			.redbg h2{
				font-size: 45px;
			}
			.Parh2 p{
				width: 50%;
			}
		}
		@media only screen and (max-width: 700px){
			.nomeI {
				height: 390px;
			}
			.imgD{
				height: 290px;
			}
		}
		@media only screen and (max-width: 550px){
			.nomeI {
				height: 310px;
			}
			.imgD{
				height: 220px;
			}
		}
		@media only screen and (max-width: 420px){
			.nomeI {
				height: 260px;
			}
			.imgD{
				height: 130px;
			}
		}

		@media only screen and (min-width: 993px) and (max-width: 1199px){ /*Container estranho */
			.margind a {
				margin-left: 0px;
			}
			#marginb{
				margin-bottom: 20px;
			}
			.bitmap .img1{
				display: none;
			}
			.polygon4{
				display: none;
			}
			.polygon3 {
				background-image: url(img/Polygon3.png);
				background-repeat: no-repeat;
				position: absolute;
				height: 85px;
				width: 80px;
				margin-left: 250px;
				margin-top: 100px;
			}
			.bitmap .img2 {
				margin-top: 220px;
				margin-left: -35px;
				z-index: 57;
			}
			.cshape {
				background-image: url(img/CombinedShape2.png);
				background-repeat: no-repeat;
				position: absolute;
				height: 120px;
				width: 140px;
				margin-top: 200px;
				margin-left: -71px;
			}
			.titleG {
				color: #CC1F21;
				font-size: 16px;
				font-weight: 300;
				letter-spacing: 3px;
				text-transform: uppercase;
				position: absolute;
				margin-top: 80px;
				margin-left: -25px;
			}
			.bggray{
				padding-left: 50px;
			}
			.textoG{
				width: 280px;
				font-size: 44px;
			}
			.btnslider {
				margin-top: 50px;
			}
		}
		@media only screen and (max-width: 992px){
			.marginJ{
				margin-right: 25px;
			}
			.marginE{
				margin: 0 auto;
				width: 160px;
			}
			.Fgray img {
				margin: 0 auto;
				width: 160px;
			}
			.Fgray p {
				margin-left: 20px;
			}
			.Fgray{
				height: 360px;
			}
		}
		@media only screen and (max-width: 650px){
			.marginE{
				margin: 0 auto;
				width: 100px;
			}
			.Fgray img {
				margin: 0 auto;
				width: 100px;
			}
			.Fgray p {
				margin-left: 20px;
			}
			.Fgray{
				height: 300px;
			}
		}
		@media only screen and (max-width: 400px){
			.bgblack2 .tituloP h2{
				font-size: 44px;
			}
		}
		@media only screen and (max-width: 768px){
			.bgred h2 {
				font-size: 35px;
			}
			.marginW {
				margin-left: 22%;
			}
		}
		@media only screen and (max-width: 600px){
			.marginW {
				margin-top: 15px;
				margin-left: 70px;
			}
			.bgred h2 {
				margin-left: 70px;
			}
			.bgred p {
				margin-left: 70px;
			}
			.bgred{
				height: 340px;
			}
		}
		.tright{
			text-align: right;
		}
		.insc{
			margin-top: 150px;
			margin-bottom: 50px;
		}
		.insc h2{
			font-size: 29px;
			letter-spacing: 0.72px;
			color: #000000;
		}
		.insc span{
			font-size: 14px;
			letter-spacing: 0.35px;
			color: #999999;
		}
		.formulario .nome input[type=text]:not(.browser-default){
			border: 1px solid #CCCCCC;
			border-radius: 22px;
			font-size: 18px;
			padding: 0px 0px 0px 25px;
			width: 90%;
			background-color: white;
		}
		.formulario input[type=text]:not(.browser-default){
			background: #F6F6F6 0% 0% no-repeat padding-box;
			border-radius: 22px;
			font-size: 18px;
			padding: 0px 0px 0px 25px;
			width: 90%;
			border: none;
		}

		.formulario input[type=text]:not(.browser-default):focus{
			border: 1px solid #333333!important;
			-webkit-box-shadow: 1px 1px 1px 1px transparent!important;
			box-shadow: 1px 1px 1px 1px transparent!important;
			border-bottom: 0;
		}
		.adicionar {
			color: black;
			background-color: white;
			border-radius: 22px;
			border: 1px solid #707070;
			width: 96%;
			height: 50px;
			font-size: 14px;
			letter-spacing: 1.05px;
		}
		.finalizar {
			background: black 0% 0% no-repeat padding-box;
			border-radius: 22px;
			font-size: 14px;
			color: white;
			letter-spacing: 1.05px;
			text-transform: uppercase;
			width: 90%;
			height: 50px;
			/* margin-left: 45px; */
		}
		/*.adicionar:hover{
			color: white;
			background-color: black;
			font-weight: 600;
		}
		.finalizar:focus{
			background: white 0% 0% no-repeat padding-box;
			color: black;
			font-weight: 600;
			}*/
			.marginK{
				margin-top: 50px;
			}
			@media only screen and (max-width: 768px){
				.margind a {
					margin-left: 0px;
				}
				#roundimgs span {
					margin-top: 15px;
					font-family: 'Space Grotesk', sans-serif;
					font-size: 19px;
					color: #333333;
					position: absolute;
					font-weight: 400;
				}
				#roundimgs img {
					margin-right: 0px;
				}
				.bgblack h2{
					font-size: 28px;
				}
				.titleg{
					font-size: 17px;
				}
			}
			button:focus {
				outline: none;
				color: black!important;
				background-color: transparent!important;
			}
			.carousel {
				height: 600px!important;
			}
			.sidenav-trigger {
				color: #7F1315;
				text-align: right;
				font-size: 35px;
			}
			@media screen and (max-width: 1199px){
				.li2{
					display: none;
				}
				.li4{
					display: none;
				}
			}
			@media screen and (max-width: 992px){
				#evento h2{
					font-size: 60px;
					margin-bottom: 50px;
					text-align: center;
				}
				.inscreva2{
					padding: 10px 10px;
				}
				#play img{
					width: 80px;
				}
				.carousel {
					height: 450px!important;
				}
				.marginH{
					width: 90px;
					margin: 0 auto;
				}
				.marginM{
					width: 115px;
					margin: 0 auto;
					padding-bottom: 70px;
				}
			}

			@media screen and (max-width: 768px){
				#evento h2{
					font-size: 40px;
				}
			}
			@media screen and (max-width: 400px){
				#roundimgs img{
					width: 54%;	
				}
				#roundimgs #sp2 {
					margin-top: 40px;
				}
				#roundimgs span {
					font-size: 15px;
				}
			}
			@media screen and (max-width: 600px){
				.finalizar {
					background: black 0% 0% no-repeat padding-box;
					border-radius: 22px;
					font-size: 14px;
					color: white;
					letter-spacing: 1.05px;
					text-transform: uppercase;
					width: 80%;
					height: 50px;
					/* margin-left: 45px; */
					margin-top: 30px;
				}
				.adicionar {
					color: black;
					background-color: white;
					border-radius: 22px;
					border: 1px solid #707070;
					width: 80%;
					height: 50px;
					font-size: 14px;
					letter-spacing: 1.05px;
				}
				.marginP {
					width: 100%;
					margin-left: 8%;
				}
			}

